<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carpool"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Permissions required for the application -->
    <!-- Permission - Internet Connect -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.carpool.AuthenticateActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.carpool.SignInActivity" >
        </activity>
        <activity android:name="com.example.carpool.SignUpActivity" >
        </activity>
        <activity
            android:name="com.example.carpool.UserHomeActivity"
            android:label="@string/title_activity_user_home"
            android:parentActivityName="com.example.carpool.AuthenticateActivity" >
            <!-- meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.carpool.AuthenticateActivity" /-->
        </activity>
        <activity
            android:name="com.example.carpool.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.example.carpool.PostActivity"
            android:label="@string/title_activity_post" >
        </activity>
        <activity
            android:name="com.example.carpool.UserAccountActivity"
            android:label="@string/title_activity_user_account"
            android:parentActivityName="com.example.carpool.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.carpool.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.example.carpool.UserInfoActivity"
            android:label="@string/title_activity_user_info" >
        </activity>
        <activity
            android:name="com.example.carpool.UserRideActivity"
            android:label="@string/title_activity_user_ride" >
        </activity>
    </application>

</manifest>